---
import Webproject from "../components/WebprojectCard.astro"
import Layout from "../layouts/Layout.astro"
import MaFormationImmo  from "../images/maformationimmo.png"
import SaveUsLife from "../images/saveusLife.png"
import SafetyCaseSolutions from "../images/safetyCaseSolutions.png"
import LeSiteDeLasso from "../images/lesitedelasso.png"
import GarageParrot from "../images/garage_parrot.png"
import NDF from "../images/nouvellesdonnesformation.png"
import ND from "../images/nouvellesdonnes.png"
---

<Layout title="Projets Web">
<div class="py-20 w-full" transition:animate="slide">
    <h2 class="text-3xl text-center text-white py-5">Mes projets web</h2>

        <div class="project">
        <Webproject
        title="Garage Parrot"
        description="Un site pour un garage développé en VueJS et en NestJS"
        details="le backend est géré par NestJS, le frontend par VueJS et la base de données par PostgreSQL"
        stack="VueJS && NestJS && PostgreSQL"
        link="https://garage-front-psi.vercel.app/"
        src={GarageParrot.src}

        />
        </div>

        <div class="project">
        <Webproject
        title="MaFormationImmo"
        description="Un site autour de l'offre de formation en immobilier"
        details="Réalisé à partir des maquettes figma du service communication de l'entreprise"
        stack="Wordpress && Bootstrap"
        link="https://maformationimmo.info/"
        src={MaFormationImmo.src}

        />
        </div>

        <div class="project">
        <Webproject
        title="SaveUsLife"
        description="Un site pour un magazine sur la thématique de l'environnement"
        details="Réalisé à partir du cahier des charges du client et de ses impératifs de temps"
        stack="Wordpress && Bootstrap"
        link="http://save-us.life"
        src={SaveUsLife.src}

        />
        </div>

        <div class="project">
        <Webproject
        title="Safety Case Solutions"
        description="Un site proposant des malettes de sécurité"
        details="Un site e-commerce proposant des malettes de sécurité personnalisées"
        stack="Wordpress && Woocommerce"
        link="https://safety-case-solutions.com/"
        src={SafetyCaseSolutions.src}

        />
        </div>

        <div class="project">
        <Webproject
        title="Le site de l'asso"
        description="Un site pour une association fictive"
        details="Réalisé dans le cadre de ma formation. Il s'agit d'un quatre pages vitrine pour une association"
        stack="html && Bootstrap"
        link="https://lesitedelasso.netlify.app/"
        src={LeSiteDeLasso.src}

        />
        </div>

        <div class="project">
        <Webproject
        title="Nouvelles Donnes Formation"
        description="Un site pour une entreprise de formation"
        details="Un site vitrine pour une entreprise de formation qui n'a pas été finalisé suite à la restructuration du groupe"
        stack="Wordpress && Bootstrap"
        link="https://nouvellesdonnesformation.ndcampus.fr/"
        src={NDF.src}

        />
        </div>

        <div class="project">
            <Webproject
            title="Nouvelles Donnes site corpo"
            description="Un site pour une entreprise de conseil et formation"
            details="Un site vitrine pour une entreprise conseil et formation avec pour but une mise en place no-code"
            stack="Wix"
            link="https://www.nouvellesdonnes.com"
            src={ND.src}
    
            />
            </div>
</div>

</Layout>

<style>
    .project {
        animation: fade-out linear;
        opacity: 1;
        animation-timeline: view() ;
        animation-range: exit -500px;
    }
    @keyframes fade-out {
        to {
            opacity: 0;
        }
    }
</style>
