---
import Webprojects from "../components/WebprojectCard.astro"
import Layout from "../layouts/Layout.astro"
import MaFormationImmo  from "../images/maformationimmo.png"
import SaveUsLife from "../images/saveusLife.png"
import SafetyCaseSolutions from "../images/safetyCaseSolutions.png"
import LeSiteDeLasso from "../images/lesitedelasso.png"
import BoxOfficeWorld from "../images/boxofficeworld.png"
import NDF from "../images/nouvellesdonnesformation.png"
---

<Layout title="Projets Web">
<div class="py-20 w-full" transition:animate="slide">
    <h2 class="text-3xl text-center text-white py-5">Mes projets web</h2>

        <Webprojects
        image={MaFormationImmo.src}
        title="MaFormationImmo"
        description="Un site autour de l'offre de formation en immobilier"
        details="Réalisé à partir des maquettes figma du service communication de l'entreprise"
        stack="Wordpress && Bootstrap"
        link="https://maformationimmo.info/"
        src={MaFormationImmo.src}

        />

        <Webprojects
        image={SaveUsLife.src}
        title="SaveUsLife"
        description="Un site pour un magazine sur la thématique de l'environnement"
        details="Réalisé à partir du cahier des charges du client et de ses impératifs de temps"
        stack="Wordpress && Bootstrap"
        link="http://save-us.life"
        src={SaveUsLife.src}

        />

        <Webprojects
        image={SafetyCaseSolutions.src}
        title="Safety Case Solutions"
        description="Le site d'une entreprise proposant des malettes de sécurité"
        details="Un site e-commerce pour une entreprise proposant des malettes de sécurité personnalisées"
        stack="Wordpress && Woocommerce"
        link="https://safety-case-solutions.com/"
        src={SafetyCaseSolutions.src}

        />

        <Webprojects
        image={LeSiteDeLasso.src}
        title="Le site de l'asso"
        description="Un site pour une association fictive"
        details="Réalisé dans le cadre de ma formation. Il s'agit d'un quatre page vitrine pour une association"
        stack="html && Bootstrap"
        link="https://lesitedelasso.netlify.app/"
        src={LeSiteDeLasso.src}

        />

        <Webprojects
        image={BoxOfficeWorld.src}
        title="Boxoffice-world"
        description="Boxoffice-world est un site qui récupère les statistiques des films et séries"
        details="Il permet par un cron-job de récupérer les détails du box-office mondial et de les afficher sur le site"
        stack="html && Bootstrap"
        link="https://boxoffice-world.com/"
        src={BoxOfficeWorld.src}

        />

        <Webprojects
        image={NDF.src}
        title="Nouvelles Donnes Formation"
        description="Un site pour une entreprise de formation"
        details="Un site vitrine pour une entreprise de formation qui n'a pas été finalisé suite à la restructuration du groupe"
        stack="Wordpress && Bootstrap"
        link="https://nouvellesdonnesformation.ndcampus.fr/"
        src={NDF.src}

</div>

</Layout>

<style>
    
</style>