---
export interface Props {
  image: string
  title: string
  body: string
  href: string
  author: string
  tags: object
}

const { href, title, body, author, image, tags } = Astro.props
---


<div class="card w-96 bg-base-100 shadow-xl sm:mx-3">
  <figure class="card-image"><a href={href}
    ><img src={image} alt="Illustration image" /></a></figure>
  <div class="card-body">
    <h2 class="card-title text-white">
      {title}
    </h2>
    <div class="flex">
      <div class="badge badge-secondary mr-2">Récent</div>
      <div class="text-sm text-white">@{author}</div>
    </div>
    
    <p class="mt-4 text-white">{body}</p>
    <div class="card-actions justify-end mb-4">
      <div class="badge badge-outline">{tags[0]}</div> 
      <div class="badge badge-outline">{tags[1]}</div>
    </div>
    <div class="card-actions justify-end">
      <a href={href}
    ><button class="button_primary">Voir le projet</button></a>
    </div>
  </div>
</div>

<style>
  .card-image img {
    opacity: 0.5;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
  }

  .card-image .image-wrapper {
    position: relative;
    overflow: hidden;
  }
  .card-image img:hover {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
  }
</style>
