---
import Nextjs from "/src/images/logos/Next.webp"
import Nuxtjs from "/src/images/logos/Nuxt.jpg"
import Nestjs from "/src/images/logos/Nest.svg"
import Nodejs from "/src/images/logos/NodeJS.jpg"
import Laravel from "/src/images/logos/laravel.png"
import Vuejs from "/src/images/logos/Vue.png"
import Postgre from "/src/images/logos/Postgresql2.png"
import MySQL from "/src/images/logos/mysql.png"
import Reactjs from "/src/images/logos/React.png"

---

<div data-aos="fade-up" data-aos-delay="400">
    <h2 class="text-3xl text-center text-white py-5">Mes technologies de prédilection</h2>

    <div class="image-gallery py-5 my-10">

        <img class="rounded-md" src={Nextjs.src} alt="Nextjs logo">
        <img class="rounded-md" src={Nuxtjs.src} alt="Nuxtjs logo">
        <img class="rounded-md" src={Nestjs.src} alt="Nestjs logo">
        <img class="rounded-md" src={Nodejs.src} alt="Nodejs logo">
        <img class="rounded-md" src={Laravel.src} alt="Laravel logo">
        <img class="rounded-md" src={Vuejs.src} alt="Vuejs logo">
        <img class="rounded-md" src={Reactjs.src} alt="React logo">
        <img class="rounded-md" src={Postgre.src} alt="Postgresql logo">
        <img class="rounded-md" src={MySQL.src} alt="MySQL logo">

    </div>
</div>
<style>
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;
        max-width: 50rem;
        margin-inline: auto;
    }
    .image-gallery > img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;

        transition: 
        scale 350ms ease,
        opacity 350ms linear;
    }

    .image-gallery:has(img:hover) > img:not(:hover) {
        scale: 0.7;
        opacity: 0.7;
    }
</style>