---
import BaseLayout from '../../layouts/Layout.astro'
const allPosts = await Astro.glob('../blog/*.md');


export function getStaticPaths() {
  return [
    {params: {tag: 'blogging'}},
    {params: {tag: 'successes'}},
    {params: {tag: 'astro'}},
    {params: {tag: 'javascript'}},
  ];
}

const {tag} = Astro.params
const postsWithTag = allPosts.filter(post => post.frontmatter.tags.includes(tag));
const pageTitle = `Posts with tag: ${tag}`;
---

<BaseLayout title={pageTitle}>
  <div transition:animate="slide">

    <div class="mt-28 flex flex-col mx-auto w-full sm:w-1/2 px-4">
  <h1 class="text-2xl font-bold mb-10 sm:mb-4 text-white text-center">Posts with tag: {tag}</h1>

    {postsWithTag.map((post) => 

<div class="flex mx-auto my-4">
<div class="card card-compact w-96 bg-base-100 shadow-xl">
  <figure><img src={post.frontmatter.image.url} alt={post.frontmatter.image.alt} /></figure>
  <div class="card-body">
    <h2 class="card-title text-white">{post.frontmatter.title}</h2>
    <p class="text-neutral-400">{post.frontmatter.description}</p>
    <div class="tags">
      {post.frontmatter.tags.map(tag => 
        <a href={`/tag/${tag}`} class="tag">{tag}</a>
      )}
    </div>
    <div class="card-actions justify-end">
        <button class="btn"><a href={post.url}>Lire plus</a></button>
    </div>
  </div>
</div>
</div>

    )}
</div>
  </div>
</BaseLayout>